[Unit]
Description=Timer para ejecutar gestion_usuario.sh
[Timer]
OnCalendar=Mon..Fri 07:00
OnCalendar=Mon..Fri 14:30
Persistent=true
[Install]
WantedBy=timers.target
